<ul>
  <li class="active">
    <a href="#">Транспортёрные ленты</a>
    <ul>
      <li class="active">
        <a href="#">Резинотканевая</a>
        <ul>
          <li><a href="#">Маслостойкая</a></li>
          <li><a href="#">Морозостойкая</a></li>
          <li><a href="#">Теплостойкая</a></li>
          <li><a href="#">Общего назначения</a></li>
          <li><a href="#">Пищевая</a></li>
          <li><a href="#">Шевронная</a></li>
          <li><a href="#">Лента ПВХ, PU</a></li>
        </ul>
      </li>
      <li><a href="#">Лента ПВХ, PU</a></li>
      <li><a href="#">Шевронная</a></li>
    </ul>
  </li>
  <li><a href="#">Экспандеры</a></li>
  <li><a href="#">Ремни</a></li>
  <li><a href="#">Смеси резиновые</a></li>
  <li><a href="#">Рукава</a></li>
  <li><a href="#">Ткани прорезиненные </a></li>
  <li><a href="#">Клей резиновый</a></li>
  <li><a href="#">Техническая пластина</a></li>
  <li><a href="#">Кольца резиновые</a></li>
  <li><a href="#">Продукция медицинского
    назначения</a></li>
  <li><a href="#">Плиты животноводческие</a></li>
</ul>
