<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="footer__logo">
          <div class="logo">
            <a href="/">&nbsp;</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="footer__menu">
          <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Проекты</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
          <ul>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Новости</a></li>
          </ul>
          <ul>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Каталог</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <form class="footer__search">
          <i class="icon-lens"></i>
          <input type="text" class="form-control" placeholder="Поиск">
        </form>
      </div>
    </div>
  </div>
  <div class="footer__info">
    <div class="container">
      <div class="footer__info-holder">
        <div class="copyright">ООО «Ярославль—Инжиниринг» © 2017</div>
        <div class="madeby">Разработка сайта — <a href="#">Интео</a></div>
      </div>
    </div>
  </div>
</footer>