@mixin cf {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin bp($res) {
  @media (min-width: $res) {
    @content;
  }
}
$spriteSize: 1000;
@mixin setSprite($w, $h, $x, $y) {
  $iW: $spriteSize / $w * 100%;
  $iH: $spriteSize / $h * 100%;
  $iX: $x / ($spriteSize - $w) * 100%;
  $iY: $y / ($spriteSize - $h) * 100%;
  background-size: $iW $iH;
  background-position: $iX $iY;
}
@mixin setSpriteP($w, $h, $x, $y) {
  $iX: $x / ($spriteSize - $w) * 100%;
  $iY: $y / ($spriteSize - $h) * 100%;
  background-position: $iX $iY;
}